.activity-card {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0.3rem;
  max-width: 250px;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  color: whitesmoke;
  font-family: var(--font-sans);
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}

.title {
  justify-self: flex-start;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.2;
}

.description {
  font-size: 1rem;
  font-style: italic;
  line-height: 1.35;
  overflow-y: scroll;
}

.description::-webkit-scrollbar {
  display: block;
  width: 10px;
}
.description::-webkit-scrollbar-thumb {
  background: linear-gradient(#637a8a, white);
  border-radius: 5px;
}

.invisible-button {
  border: transparent;
  background-color: transparent;
}

.placer {
  background: linear-gradient(
    to right bottom,
    hsl(236, 50%, 50%),
    hsl(195, 50%, 50%)
  );
  backdrop-filter: blur(10px);
  // background: gray;
  -webkit-backdrop-filter: blur(10px);
  z-index: 0;
}
.activity-image {
  max-height: 300px;
  z-index: 40;
}

.activity-details {
  background-color: linear-gradient(#637a8a, rgb(0, 0, 0));
}
aside.rating {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  background-color: transparent;
  border-bottom-right-radius: 1rem;
  font-size: 1em;
  font-weight: bold;
  color: #eee;
}
.rating {
  text-shadow: 1px 1px #323546;
}

aside.add {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.3rem;
  font-size: 1.5em;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.603);
  z-index: 1000;

  :hover,
  :focus {
    cursor: pointer;
    fill: rgb(95, 112, 168);
  }
}

aside.suggest {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.3rem;
  font-size: 1.5em;
  font-weight: bold;
  color: orange;
  z-index: 1000;

  :hover,
  :focus {
    cursor: pointer;
    transform: scale(1.1);
  }
}
