.activity-card {
  width: 13rem;
  border: 'secondary';
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.card-img {
  height: 160px;
}

.invisible-button {
  border: transparent;
  background-color: transparent;
}

aside.rating {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  background-color: rgb(207, 153, 35);
  border-bottom-right-radius: 1rem;
  font-size: 1em;
  font-weight: bold;
  color: #eee;
}

aside.add {
  position: absolute;
  top: 7.5rem;
  right: 0;
  padding: 0.3rem;
  font-size: 1.5em;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.603);
}

aside.suggest {
  position: absolute;
  top: 7.5rem;
  right: 1;
  padding: 0.3rem;
  font-size: 1.5em;
  font-weight: bold;
  color: aqua;
}

aside.add:hover,
aside.add:focus {
  color: orange;
  transform: translateY(-0.25em);
}
