.activity-card {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0.3rem;
  max-width: 250px;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  color: whitesmoke;
  font-family: var(--font-sans);
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}

.title {
  justify-self: flex-start;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.2;
}

.description {
  font-size: 1rem;
  font-style: italic;
  line-height: 1.35;
  overflow-y: scroll;
}

.description::-webkit-scrollbar {
  display: block;
  width: 10px;
}
.description::-webkit-scrollbar-thumb {
  background: linear-gradient(#637a8a, white);
  border-radius: 5px;
}

.invisible-button {
  border: transparent;
  background-color: transparent;
}

aside.rating {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  background-color: rgb(207, 153, 35);
  border-bottom-right-radius: 1rem;
  font-size: 1em;
  font-weight: bold;
  color: #eee;
}

aside.add {
  position: absolute;
  top: 7.5rem;
  left: 0;
  padding: 0.3rem;
  font-size: 1.5em;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.603);
}

aside.suggest {
  position: absolute;
  top: 7.5rem;
  right: 0;
  padding: 0.3rem;
  font-size: 1.5em;
  font-weight: bold;
  color: aqua;
}

aside.add:hover,
aside.add:focus {
  color: orange;
  transform: translateY(-0.25em);
}
