.toggle-button {
  height: 24px;
  width: 36px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 3.5rem;
  left: 0;
  z-index: 999;
  transform: scale(1.2) rotate(-90deg);

  :hover {
    animation: turn 0.5s forwards;
  }
}
.toggle-button:focus {
  outline: none;
}

.categories {
  width: 50px;
}

@keyframes turn {
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
