$main-blue: #0076bd !default;
$main-blue-rgb-015: rgba(44, 149, 214, 0.1) !default;

.postcard {
  flex-wrap: inherit;
  max-height: 200px;
  max-width: 400px;
  display: flex;
  background-color: #18151f;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;

  a {
    color: inherit;
  }

  h1,
  .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .small {
    font-size: 80%;
  }

  .postcard__title {
    font-size: 1rem;
  }

  .postcard__img {
    width: 130px;
    max-height: 180px;
    transition: transform 0.3s ease;
    object-fit: cover;
    position: relative;
  }
  &:hover .postcard__img {
    transform: scale(1.1);
  }

  .postcard__img_link {
    display: contents;
  }

  .postcard__text {
    padding: 1.5rem 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .postcard__text:before {
    content: '';
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }

  .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 10px;
    margin: 10px 0 0 0;
    padding: 0;
    justify-content: start;

    .tag__item {
      display: inline-block;
      background: rgba(83, 83, 83, 0.4);
      border-radius: 3px;
      padding: 1px 5px;
      margin: 0 5px 5px 0;
      cursor: default;
      user-select: none;
      transition: background-color 0.3s;

      &:hover {
        background: rgba(83, 83, 83, 0.8);
      }
    }
  }

  &:nth-child(2n + 1) {
    flex-direction: row;
  }

  &:nth-child(2n + 0) {
    flex-direction: row-reverse;
  }

  &:nth-child(2n + 1) .postcard__text::before {
    left: -15px !important;
    transform: rotate(4deg);
  }

  &:nth-child(2n + 0) .postcard__text::before {
    right: -15px !important;
    transform: rotate(-4deg);
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }
}

.blue::before {
  background-image: linear-gradient(
    -80deg,
    $main-blue-rgb-015,
    transparent 80%
  );
}
.blue:nth-child(2n)::before {
  background-image: linear-gradient(80deg, $main-blue-rgb-015, transparent 20%);
}
