.trip-drawer {
  height: 100%;
  background-color: white;
  box-shadow: 5px 0px 2px rbga(0, 0, 0, 0.5);
  position: fixed;
  top: 3.5rem;
  right: 0;
  width: 70%;
  max-width: 420px;
  z-index: 200;
}

.trip-details-container {
  margin-top: 1.5rem;
  height: 90vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.trip-details-container::-webkit-scrollbar {
  display: block;
  width: 10px;
}
.trip-details-container::-webkit-scrollbar-thumb {
  background: linear-gradient(#2b9de9, white);
  border-radius: 5px;
}
