@import '~bootstrap/scss/bootstrap';
@import 'https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Philosopher:wght@700&display=swap');

:root {
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}
.app {
  height: 100%;
  overflow: hidden;
  font-family: 'Philosopher', sans-serif;
}
.backdrop {
  background: #b8a27a;
  margin-top: $nav-link-height + $nav-link-padding-y * 2;
  background-size: cover;
}

.icon {
  color: rgb#53565e;
}

.nav-bar {
  background-color: rgb(38, 54, 99);
}

.nav-bar .nav-link {
  color: rgb(193, 193, 202) !important;
}

.avatar {
  vertical-align: middle;
  transition: transform 0.2s;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  :hover,
  :focus {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
  }
}
