@import '~bootstrap/scss/bootstrap';
@import 'https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap';

:root {
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}

.app {
  height: 100%;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
}
.backdrop {
  background: linear-gradient(white, #9ac3df);
  margin-top: $nav-link-height + $nav-link-padding-y * 2;
  background-size: cover;
}
